# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#public

# dependencies
/node_modules
/.pnp
.pnp.js
/public

# testing
/coverage
.turbo
turbo.json
# next.js
/.next/
/out/

/.cache/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json*

# local env files
.env*.local
.env*
.env


# vercel
.vercel
next.config.js

# typescript
*.tsbuildinfo
next-env.d.ts


# raiz
yarn.lock
yarn.error


