@tailwind base;
@tailwind components;
@tailwind utilities;


.triangulo-equilatero-bottom-left {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 50px solid #f0ad4e;
    border-bottom: 50px solid #f0ad4e;
}
