@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Bloquear la rotación */
  orientation: portrait;
  touch-action: none;
  /* touch-action: manipulation; */
  -ms-content-zooming: none;
}

.triangulo-equilatero-bottom-left {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 50px solid #f0ad4e;
    border-bottom: 50px solid #f0ad4e;
    
}

::-webkit-scrollbar {
    display: none;
  }


  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
      -webkit-transition-delay: 9999s;
  }

  .miDiv {
    overflow: hidden;
    direction: rtl; /* Establece la dirección del texto de derecha a izquierda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  }